# FROM https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
# Visual studio

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# FROM https://github.com/github/gitignore/blob/master/Go.gitignore
# Golang

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# CUSTOM

# original icon psd
*.psd

# Binaries
/bin

# JavaLauncher files
*.msi
*.tar.gz
*.jar
java

# rsrc stuff
rsrc
rsrc.exe
*.syso

# nektos/act
act
.actrc

#java log
*.log

# idea
.idea